/* css styles */

body {
  background-image: url('img/logo-mdm-2026.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 50%;
  background-position: 100% 100%;
  background-color: rgba(255, 255, 255, 0.95);
  background-blend-mode: overlay;

}

.sidebar-item{
  font-size: 1.1em !important;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #007bff;
  padding-left: .5rem;
}

.roundrect {
  border-radius: 15px;
}

.add-space{
  margin-right: 5%;
}

.center-table table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}